name: Build & test game ai

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build-and-test-game-ai-workflow:
    runs-on: ubuntu-latest

    steps:
    - name: checkouting repository
      uses: actions/checkout@v3

    - name: echo long commit hash
      run: echo "The commit hash is ${{ github.sha }}"

    - name: Create docker image
      run: echo "${{ github.head_ref }}.${{ github.sha }}"

    - name: installing dependencies
      run: sudo apt update && sudo apt install -y cmake g++ qtbase5-dev

    - name: creating build folder
      run: mkdir build

    - name: configuring cmake
      run: |
        cd build
        cmake .. -DCMAKE_PREFIX_PATH=/usr/lib/cmake/Qt5

    - name: building project
      run: |
        cd build
        cmake --build . -j$(nproc)

    - name: running tests
      run: |
        cd build/test_case_layer/
        ctest --output-on-failure
        # continue-on-error: true
