name: Build & test game ai

on:
  push:
    branches:
      - 'main'
    tags:
      - '**'

jobs:
  build-and-test:
    runs-on: macos-latest


    steps:
    - name: checkouting repository
      uses: actions/checkout@v3

    - name: echo long commit hash
      run: echo "The commit hash is ${{ github.sha }}"

    - name: install dependencies
      run: sudo apt update && sudo apt install -y cmake g++ qtbase5-dev

    - name: create build folder
      run: mkdir build

    - name: create built folder
      run: mkdir built
           mkdir -p built/binary
           mkdir -p built/library

    - name: configure cmake
      run: |
        cd build
        cmake .. -DCMAKE_PREFIX_PATH=/usr/lib/cmake/Qt5

    - name: build project
      run: |
        cd build
        cmake --build . -j$(nproc)

    - name: run tests
      run: |
        cd build/test_case_layer/
        ctest --output-on-failure
        # continue-on-error: true
